* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url("./Montserrat,Roboto/Roboto/static/Roboto-ExtraBold.ttf");
}

html {
    scroll-behavior: smooth;
}


footer {
    width: 92vw;
    height: 35vw;
    background: rgb(241, 237, 237);
    border-radius: 2vh;
    margin: 6vw 6vw 0 6vw;
}
.partie1{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}
.extrarouge{
    color: red;
}
.pizzaBleu{
    color: blue;
}
.entrer{
    padding:0 0 2ch 0;
}
.email{
    height: 3vh;
    width: 12vw;
}
#email{
    background-color: aliceblue;
    height: 3vh;
    width: 4vh;
}.input{
    display: flex;
    align-items: center;
}

hr {
  height: 1vh;
  border: none;
  margin: 0 4vw 1vw 4vw;
  border-radius: 2vh;
  background: linear-gradient(90deg, rgb(238, 5, 5), rgba(31, 103, 211, 0.616), rgba(231, 236, 235, 0.651), rgba(44, 47, 223, 0.918), rgba(245, 4, 16, 0.932), #dddee1);
  background-size: 300% 300%;
  animation: nvg 4s ease-in-out infinite;
}

@keyframes nvg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.partie2{
    display: flex;
    justify-content: space-evenly;
    padding: 3vw 0 4vw 0;
    font-size: 3vh;
}
.trois{
    line-height: 4vh;
}

#icone{
    color: blue;
    display: flex;
    gap: 2ch;
    font-size: 3vh;
}
.dernier{
    text-align: center;
    padding: 2vw;
    font-weight: 700;
}