* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url("./Montserrat,Roboto/Roboto/static/Roboto-ExtraBold.ttf");
}

html {
    scroll-behavior: smooth;
}
footer {
    width: 92vw;
    height: 35vw;
    background: #fafafa;
    border-radius: 2vh;
    margin: 6vw 6vw 0 6vw;
}
.partie1{
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.extrarouge{
    color: red;
}
.pizzaBleu{
    color: blue;
}

.entrer{
    padding:0 0 2ch 0;
}
.email{
    height: 4vh;
    width: 15vw;
    border: none;
    background-color:#fff;
}

.input{
    display: flex;
    align-items: center;
}
.hr{
    margin-left: 5vw;
    margin-right: 5vw;
    border:none;
    height:1px;
    background-color: gainsboro;
}

.partie2{
    display: flex;
    justify-content: space-between;
    padding-top: 3vw;
    padding-bottom: 3vw;
     margin-left: 5vw;
    margin-right: 5vw;
}
.trois{
    line-height: 4vh;
    
}
.trois ul li {
    list-style-type: none;
    color:rgb(86, 84, 84);
}
#icone{
    color: blue;
    display: flex;
    gap: 2ch;
    font-size: 3vh;
}
.dernier{
    text-align: center;
    padding: 2vw;
    font-weight: 700;
}