/*.flex_map {
    display: flex;
    align-items: center;
}*/

.flex_map {
    display: flex;
    gap: 3vh;
    /* margin-inline: 5vh; */
    /* border-radius: 50vh; */
    background-color: white;
}
.flex_map .txt{
    display: flex;
    flex-direction: column;
    gap:1vh;
}
.flex_map p{
    color: rgb(139, 139, 139);
}
.flex_map h3{
    color: #240602;
}

.glady{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 60%;
}

.map {
    margin-top: 25px;
}

.map_img {
    width: 600px;
    height: 100%;
}

.anr_img {
    width: 14vw;
    height: 10vw;
    border-radius: 10px;
    object-fit: cover;
}
.anr_img1 {
    width: 14vw;
    height: 10vw;
    border-radius: 10px;
    object-fit: cover;
}
.anr_img{
    opacity: 0;
    animation: Stay 3s ease forwards;
}
@keyframes Stay {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1; /* mipoitra */
    }
  100% {
    opacity: 1; /* mijanona */
  }
}
.anr_img1 {
  opacity: 0;
  animation: fadeInStay 5s ease forwards;
}

/* Animation */
@keyframes fadeInStay {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1; /* mipoitra */
    }
  100% {
    opacity: 1; /* mijanona */
  }
}
.anr_main .h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    font-size: larger;
}

.black {
    color: blue;
}

.red {
    color: red;
}

.para_loca {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    gap: 15px;
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 10px;
}

.flex2 {
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    gap: 15px;
    margin-top: 25px;
    margin-right: 5px;
}

.flex3 {
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    gap: 15px;
    margin-top: 25px;
}

.txt_bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.bloc1 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 15px;
    border: 2px solid white;
    border-radius: 10px;
    /* padding: 10px; */
    width: 14vw;
    height: 20vw;
    /* background-color:red; */
    padding-left: 0;
    transition: 0.3s;
    font-family: "Roboto",sans-serif;
}

.pop {
    color: rgb(139, 139, 139);
    margin-top: 2vh;
    width: 30vw;
}

.every {
    color: #240602;
}

.bloc1:hover {
    transform: scale(1.02);
}

.nos_resto {
    margin-top: 3vh;
    font-family: "Roboto", sans-serif;
    color: #240602;
}

.flex_map .icone {
    display: flex;
    gap: 1vh;
}

.flex_map .icone i {
    color: #eebc57;
}