*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
@font-face {
    font-family: 'Roboto';
    src: url("./Montserrat,Roboto/Roboto/static/Roboto-ExtraBold.ttf");
}
html {
  scroll-behavior: smooth;
  font-family: "Courgette", cursive;
}
header{
    position: fixed;
    /* top: -22vh; */
    /* left: 1vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 3vw;
    background-color: rgb(249, 247, 247);
    height: 62vw;
    width: 5vw;
}

body{
    background-color: #fafafa;
     /* display: flex; */
     /* flex-direction: o; */
     /* justify-content: center; */
     /* align-items: center; */
     font-family: "Roboto",sans-serif;

}
.logo{
    width: 60px;
    height: 60px;
    /* background-color: blue; */
    background-image: url("./img/logo2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: fixed; */
    margin-top: 3vh;
    border-radius: 60%;
    /* box-shadow: 0 2px 6px rgb(4, 53, 249); */
    /* box-shadow:
        5px 5px 10px rgba(45, 45, 131),
        -5px -5px 10px rgb(135, 155, 235),
        inset 0 0 0 transparent,
        inset 0 0 0 transparent; */

}
.navbar{
    /* background-color:rgb(246, 246, 253); */
    width: 10vh;
    height: 30vw;
    /* position: fixed; */
    top: 17vh;
    left: 5vh;
    border-radius: 5vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    /* padding-block: 20px; */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
        /* box-shadow:
            5px 5px 10px rgb(177, 177, 177),
            -5px -5px 10px rgb(174, 174, 174),
            inset 0 0 0 transparent,
            inset 0 0 0 transparent; */
    /* align-items: center; */
}
.navbar i{
    font-size: 1.6rem;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0.5rem; */
    color: rgb(0, 0, 0);
    position: relative;    
    transition: background-color 0.3s, transform 0.3s; 
    border-radius: 2vh;
    /* padding: 2vh; */
        width: 6vh;
        height: 6vh;    
}
    /* .navbar i#end{
        margin-top: 25vw;
    } */
.navbar i:hover{
    background-color: rgba(228, 6, 21);
    transform: scale(1.2);
}

.navbar i::after{
    font-family: "Roboto",sans-serif;

    content: attr(data-text);
    opacity: 0;
    transition: .3s;
    /* Position */
    position: absolute;
    left: 8vh;
    top: 50%;
    transform: translateY(-50%);
    /* margin-left: 2px; */
    display: inline-block
    /* 🎨 Style ajouté */
}

.navbar i:hover::after{
    opacity: 1;
 /* effet moderne */
    background: rgba(228, 6, 21);
    color: #fff;
    padding: 0.5rem;
    border-radius: 1vh;
    font-size: 0.75rem;
    white-space: nowrap;
    backdrop-filter: blur(3px);
    z-index: 10;
    
    /* background-color: #e74c3c; */
}

.main{
    margin-left: 6vw;

}
.main1{
    display: flex;
    gap: 3vh;

}



/* animatio texte */


/* animatio texte */
.main1 .img{
    /* margin-top: 3vh; */
    width: 92vw;
    height: 53vw;
    background-color: white;
    /*
    background-image: url("./img/menu/Aesthetic\ Pizza\ Fresh\ from\ the\ Oven\ Photography\ _\ Pizza\ Lovers\ _\ Pizza\ Goals\ 🍕.jpgd");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; */
    /* margin-left: 15vh; */
    padding-block: 3vh;
     border-radius: 5vh; 
     display: flex;
     align-items: center;
     justify-content: center;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);    */
}
.main1 .img .img1{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding-left: 8vh;
    gap: 1vw;
    /* justify-content: center; */
    /* align-items: center; */
}
.main1 .img .img1 h1 {
    width: 30vw;
    /* color: white; */
    font-size: 4rem;
    font-family: "Roboto",serif;
    /* position: absolute; */
    /* top : 70vh;
    left: 70vh; */
    margin-top: 10vw;
    /* background-color: red */
}
.main1 .img .img1 .txt{
    font-family: "Roboto",sans-serif;
    display: flex;
    font-size: 1.5rem;
    gap: 0.5ch;
    /* font-weight: 55px; */
}
.main1 .img .img1 .txt .span1{
    color: #004aad;
    
}
.main1 .img .img1 .txt  .span2{
    color: #ff3131;
}
.main1 .img .img1 p{
    color: #767575;
}
.main1 .img .img1 button{
    background-color: #004aad;
    width: 15vw;
    /* height: 3vw; */
    padding: 3vh;
    border: none;
    border-radius: 1vh;
    margin-top: 10vw;
    font-family: "Roboto",sans-serif;
    color: white;

}
.main1 .img .img2{
    width: 50%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    background-image: url("../img/menu/Design\ sans\ titre.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 5vh;
}
/* .main1 .img .img2 .value1{
    width: 60%;
      position: relative;
        z-index: 99;
    background-color: black;
} */
/* .main1 .img .img2 .value1 img{
    width: 50vw;
    background-color: red;
    height: 50vw;
}
.main1 .img .img2 .value2{
    width: 40%;
    background-color: rgb(52, 6, 238);
    border-radius: 15vh 0 15vh 15vh;
    position: relative;
    z-index: 1;

} */
.main1 .box{
    margin-top: 3vh;
    width: 40vw;
    height: 25vw;
    background-color: rgb(255, 255, 255);
    background-image: url("./img/menu/500º.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    border-radius: 5vh ;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    /* gap:3vh ; */

}
.main1 .box img{
    margin-top:2vh;
    width: 30vh;
    height: 200px;
    border-radius: 4vh;
    background-size: 100% 100%;
}
.main1 .box .i{
    display: flex;
    flex-direction: row;
}
