.main .main2 .img {
    margin-top: 3vh;
    width: 90vw;
    height: 70vw;
    background-color: white;
    /* background-image: url("./img/img5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* margin-left: 15vh; */
    border-radius: 5vh;

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.main .main2 .img .container {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: 5vh; */
    flex-direction: row;
    /* margin-top: 5vh; */
    /* gap: 2vh; */
    /* background-color: #faf6f1; */
}

.main .main2 .img .container .a1 {
    display: flex;
    gap: 5vh;
    width: 60vw;
    height: 50vw;
    /* background-color: red;  */
    padding: 5vh;
    flex-direction: column;
}

.main .main2 .img .container .a1 .contenu {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.main .main2 .img .container .a1 .contenu .search {
    /* background-color: #ff3131; */
    display: flex;
    gap: 5vh;
    /* width: 50vh; */
}

.main .main2 .img .container .a1 .contenu .search .search1 {

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5vh; */
}

.main .main2 .img .container .a1 .contenu .search .search1 input {
    /* padding: 1.5vh; */
    /* width: 3vh; */
    width: 50vh;
    height: 6vh;
    border-radius: 1vh 0 0 1vh;
    border: none;
    /* color: #c5c5c5; */
}

.main .main2 .img .container .a1 .contenu .search p {

    /* height: 5vh; */
    /* padding-top: 5vh; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.main .main2 .img .container .a1 .contenu .search .search1 i {
    background-color: white;
    width: 3vh;
    height: 6vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 0 1.5vh 1.5vh 0;
}

.main .main2 .img .container .a1 .contenu h1 {}

.main .main2 .img .container .menu {
    width: 15vw;
    height: 20vw;
    background-color: #fafafa;
    /* background-color: #ff3131; */
    border-radius: 2vh;

}

.main .main2 .img .container .menu .cont1 {
    /* margin-top: 3vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 5vw;
        height: 10vw; */
    font-family: Arial, Helvetica, sans-serif;
    /* gap:3vh ; */
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}

.main .main2 .img .container .menu .cont1 h1 {
    font-size: 1rem;
}

.main .main2 .img .container .menu .cont1 p {
    font-size: 0.8rem;
    /* background-color: blue; */
    /* width: 30vh;  */
}

.main .main2 .img .container .menu .cont1 .img {
    background-image: url("../img/menu/tacos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-top: 5vh; */
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1vh; */
    border-radius: 5vh;
    /* background-color: red; */

}

.main .main2 .img .container .menu .cont2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-inline: 5vh; */
}

.main .main2 .img .container .menu .cont2 button {
    padding: 1.5vh;
    border-radius: 2vh;
    border-width: solid 1px;
    color: rgb(0, 0, 123);
    border: none;
}

.main .main2 .img .container .a2 {
    background-color: blue;
}

.main .main2 .img .container .a1 .contenu .kaly {
    display: flex;
    gap: 3vh;
}

.main .main2 .img .container .a1 .contenu .kaly .pizza {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a80f0;
    width: 13vh;
    height: 4.5vh;
    border-radius: 2.5vh;
    gap: 1ch;
    font-size: 0.8rem;
    color: #e7e7e7;
}

.main .main2 .img .container .a1 .contenu .kaly .pizza img {
    width: 1.5vw;
    height: 1.5vw;
}
.main .main2 .img .container .a1 .contenu .choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .main2 .img .container .a1 .contenu .choose h5{
    color: #c5c5c5;
}