*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: rgb(240, 240, 240);
     display: flex;
     /* flex-direction: o; */
     /* justify-content: center; */
     align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    /* background-color: blue; */
    background-image: url("./img/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 5vh;
    left: 5vh;
    border-radius: 60%;
    box-shadow: 0 2px 6px rgb(4, 53, 249);

}
.navbar{
    background-color:rgba(45, 45, 131);
    width: 60px;
    /* height: 60vh; */
    position: fixed;
    top: 20vh;
    left: 5vh;
    border-radius: 10vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    padding-block: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    /* align-items: center; */
}
.navbar i {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  color: white;
}
.main1{
    display: flex;
    gap: 3vh;
    margin-left: 17vh;

}
.main1 .img{
    margin-top: 3vh;
    width: 1000px;
    height: 700px;
    background-color: transparent;
    background-image: url("./img/369063.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-left: 15vh; */
    border-radius: 10vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.main1 video {
    margin-top: 3vh;
    width: 1100px;
    height: 600px;
    object-fit: cover; /* ou contain selon le résultat désiré */
    border-radius: 10vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.main1 .box{
    margin-top: 3vh;
    width: 270px;
    height: 400px;
    background-color: rgba(228, 6, 21);
    border-radius: 10vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}